body {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
}

.banner-pic {
    width: 635px;
    height: 800px;
    margin-right: 240px;
}

.banner-h {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
    width: 708px;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
    width: 634px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: 0px;
}

.our {
    margin: 0px 240px;
}

.sec-u {
    justify-content: center;
    text-align: center;
}

.sec-h {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.sec-d {
    color: rgba(39, 39, 39, 0.60);
    width: 594px;
    margin-left: 20%;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flw-1 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 348px;
    height: 403.5px;
    margin-right: 24px;
}

.flw-2 {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 348px;
    height: 403.5px;
    margin-right: 24px;
}

.flw-3 {
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 348px;
    height: 403.5px;
}

.flw-nam {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    align-items: center;
    justify-content: center;
    margin-left: 95px;
}

.flwo {
    width: 232.5px;
    height: 321px;
    padding: 80px 78px 0px 76px;
}

.hot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.des {
    margin-left: 240px;
}

.hot-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    flex-direction: column;
}

.btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hot {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: 0px;
}

.phot {
    margin-right: 240px;
}

.p {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.insta {
    margin-top: 120px;
}

.insta-con {
    text-align: center;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.name {
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.flowr-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.flwor {
    width: 256.5px;
    height: 297px;
    gap: 24px;
}